<table mat-table [dataSource]="dataSource$">
    <ng-container matColumnDef="inviter">
      <th mat-header-cell *matHeaderCellDef> Inviter </th>
      <td mat-cell *matCellDef="let element"> {{hashToAgent(element.invitation.inviter)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="invitees">
      <th mat-header-cell *matHeaderCellDef> Invitees </th>
      <td mat-cell *matCellDef="let element"> {{hashListToAgentList(element.invitation.invitees)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.invitation.timestamp }} </td>
    </ng-container>
    <ng-container matColumnDef="invitees_who_accepted">
      <th mat-header-cell *matHeaderCellDef> invitees_who_accepted </th>
      <td mat-cell *matCellDef="let element"> {{hashListToAgentList(element.invitees_who_accepted)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="invitees_who_rejected">
      <th mat-header-cell *matHeaderCellDef> invitees_who_rejected </th>
      <td mat-cell *matCellDef="let element"> {{hashListToAgentList(element.invitees_who_rejected)}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>