
    <section class="text-gray-600 body-font bg-white shadow-lg sm:rounded-3xl rounded-lg sm:p-8 p-4 bg-clip-padding bg-opacity-60 border border-gray-200" style="backdrop-filter: blur(20px);">
      <div class="text-lg">All Profiles</div>
      <hr><br>
        <div class="relative flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow">
                    <table class="table-auto divide-y divide-gray-300" id="dataTable">
                        <tbody class="bg-white divide-y divide-gray-500">
                            <tr class="flex flex-row whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-center text-gray-500">
                                    1
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <div class="text-sm text-gray-900">
                                        Jon doe
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-gray-50 whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-center text-gray-500">
                                    2
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <div class="text-sm text-gray-900">
                                        Jon doe 2
                                    </div>
                                </td>
                            </tr>
                            <tr class="whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-center text-gray-500">
                                    3
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <div class="text-sm text-gray-900">
                                        Jon doe 3
                                    </div>
                                </td>
                            </tr>
      
      
                            <tr class="bg-gray-50 whitespace-nowrap">
                                <td class="px-6 py-4 text-sm text-center text-gray-500">
                                    4
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <div class="text-sm text-gray-900">
                                        Jon doe 4
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><div>
            <div class="flex justify-between border-t text-sm font-normal mt-4 space-x-4">
              <div class="px-2 flex">
                <span>John Deo</span>
              </div>
              <div>
                <span>johndeo@gmail.com</span>
              </div>
              <div class="px-2">
                <span>Admin</span>
              </div>
              <div class="px-2">
                <span>28/12/2021</span>
              </div>
              <div class="px-2">
                <select>
                  <option>Admin</option>
                  <option>User</option>
                </select>
              </div>
            </div>
            <div class="flex justify-between border-t-2 text-sm font-normal mt-4 space-x-4">
              <div class="px-2">
                <span>John Deo</span>
              </div>
              <div>
                <span>johndeo@gmail.com</span>
              </div>
              <div class="px-2">
                <span>Admin</span>
              </div>
              <div class="px-2">
                <span>28/12/2021</span>
              </div>
              <div class="px-2">
                <select>
                  <option>Admin</option>
                  <option>User</option>
                </select>
              </div>
            </div>
            <div class="flex justify-between border-t-2 text-sm font-normal mt-4 space-x-4">
              <div class="px-2">
                <span>John Deo</span>
              </div>
              <div>
                <span>johndeo@gmail.com</span>
              </div>
              <div class="px-2">
                <span>Admin</span>
              </div>
              <div class="px-2">
                <span>28/12/2021</span>
              </div>
              <div class="px-2">
                <select>
                  <option>Admin</option>
                  <option>User</option>
                </select>
              </div>
            </div>
          </div>
    </section>