
    <section class="text-gray-600 body-font bg-white shadow-lg sm:rounded-3xl rounded-lg sm:p-8 p-4 bg-clip-padding bg-opacity-40 border border-gray-200 backdrop-blur-sm">
      <div class="text-lg">All Profiles</div>
      <hr>
        <ng-container *ngFor="let profile of (profiles$ | async);">
            <div class="flex justify-between border-b text-sm font-normal mt-4 space-x-4">
                <div class="px-2 flex">
                <span><img [src]="profile.fields['avatar']"/></span>
                </div>
                <div>
                <span>{{profile.nickname}}</span>
                </div>
                <div class="px-2">
                <span>28/12/2021</span>
                </div>
            </div>
        </ng-container>
    </section>