<div class="bg-web3-hc bg-cover bg-repeat-round">
  <ng-container *ngIf="(myprofile$ | async); else noprofile; let profile">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap">
        <div class="p-4 md:w-1/2" aria-label="profile-block">
          <app-profile [profile]="profile"></app-profile>
        </div>
        <div class="p-4 md:w-1/2" aria-label="profile-block">
          <all-profiles></all-profiles>
        </div>
      </div>
        <invitation></invitation>
    </div>
  </ng-container>
  <ng-template #noprofile>
    <registration></registration>
  </ng-template>
</div>
